:root {
   --bg-color: rgb(225, 220, 220); 
   --bg-color2: rgb(196, 192, 192); 
   --text-color: black; 
    } 

[data-theme="dark"] { 
      --bg-color: rgb(38, 37, 37);
      --bg-color2: rgb(18, 17, 17); 
      --text-color: rgb(224, 214, 214); 
      }

body { 
    background-color: var(--bg-color); 
    color: var(--text-color); 
    transition: background 0.3s ease, color 0.3s ease; 
} 


.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color); 
  color: var(--text-color); 
}



.toggle-btn {
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 0;
}



.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: fixed;
  top: 50px;
  z-index: 50;
  transition: width 0.3s ease;
  background-color: var(--bg-color); 
  color: var(--text-color); 
}


.sidebar.closed {
 width: 0;
}

.sidebar.open {
  width: 18rem;
}




::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidebar::-webkit-scrollbar{
  display: none;
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}



.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.sidebarHr {
  margin: 20px 0;
}

.filter-pane::-webkit-scrollbar{
  display: none;
}

.filter-pane {
  overflow: auto; /* or overflow: scroll; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
 
}

a{
  text-decoration: none;
}


.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 0.8rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 65%;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}


.animated-card {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--bg-color);
  color: var(--text-color); 
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.back-to-top:hover {
  background-color: #0056b3;
}


table{
  width: 100%;
}

table tr{
 padding: 10px;
 
}
table th{
  padding: 10px;
}

table td{
  color: var(--text-color);
  background-color: var(--bg-color);
 padding: 10px;
 border-bottom: 1px solid gray;
}



.follow-btn {
  background-color: rgb(19, 93, 19);
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.unfollow-btn {
  background-color: rgb(152, 27, 27);
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.pos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1.2rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}


/* Custom modal content styling */
.custom-modal-content {
  width: 100%;
  max-width: 500px; /* Max width for the modal */
  margin: auto; /* Centers the modal horizontally */
  position: relative;
}

.modal-title{
  color: var(--text-color);
}

/* Custom backdrop styling */
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.7) !important; 
}

/* Ensure the modal is centered vertically and horizontally */
.ReactModal__Content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Absolute positioning to center */
  top: 40%; /* Center the modal vertically */
  left: 50%; /* Center the modal horizontally */
  transform: translate(-50%, -50%); /* Offset the modal to account for its size */
  min-width: 300px; /* Optional: set a minimum width */
  max-width: 500px; /* Optional: set a maximum width */
  z-index: 100;
}

.modal-contentx{
  color: var(--text-color);
  background-color: var(--bg-color);
  border:1px solid var(--text-color);
  border-radius: 12px;
}



.notification-container {
  position: relative;
  display: inline-block;
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  left: -3px;
  transform: translate(50%, -50%);
  background-color: red;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 50%;
  min-width: 18px;
  text-align: center;
  padding: 2px;
  cursor: pointer;
}


.notification-modal {
  position: absolute;
  top: 60px;
  right: 20px;
  width:300px;
  color: var(--text-color);
  background-color: var(--bg-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
  border:1px solid var(--text-color);
  padding: 3px;
}

.notification-modal-content {
  max-height: 30rem;  /* Set a maximum height for the modal */
  overflow: auto;   /* Make the modal scrollable */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



.ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li {
  padding: 10px;
}

.li.read {
  background-color: #f5f5f5;
}

.li.unread {
  font-weight: bold;
}

.li a{
  text-decoration: none;
}



/* Style for unread notification */
.unread-notification {
  background-color: #e3f2fd; /* Light blue background for unread */
  color: #0d47a1; /* Dark blue text for readability */
  border-left: 5px solid #0d47a1; /* Blue left border to highlight */
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Optional hover effect */
.unread-notification:hover {
  background-color: #bbdefb; /* Slightly darker blue when hovered */
}


/* Style for unread notification */
.read-notification {
  background-color: #f0f6f9; /* Light blue background for unread */
  color: #021b40; /* Dark blue text for readability */
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Optional hover effect */
.read-notification:hover {
  background-color: #bbdefb; /* Slightly darker blue when hovered */
}


.save-btn{
  color: var(--text-color);
  background-color: var(--bg-color2);
}

.recomendation-containerx{
  max-height: 300px;
  overflow: auto;
}

.recommended-products {
  display: flex;
  overflow-x: auto; /* Allows horizontal scrolling */
  gap: 1rem; /* Adds space between the cards */
  padding-bottom: 20px; /* Optional: Adds space for bottom scrollbar */
}

.recommended-product-card {
  flex-shrink: 0; /* Prevents the cards from shrinking */
  min-width: 340px;
}

.pie-chart{
   max-width:400px;
}

